.navbar-light .navbar-nav .nav-link {
  color: white!important;
}
.navbar-brand{
  color: #ddffff!important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav-links{
  margin-left: 16%;
}
.container{
  margin-top: 5%;
  height:100vh;
  border-radius: 5px;
  width: 50%;
}
#output label{
  font-weight: bold;
}
.header{
  text-align: center;
}
